.bigPart {
    display: flex;
    justify-content: center;
}

.centerPage {
    width: 1000px;
    height: 500px;
}

.longmodule {
    width: 100%;
}

.longmodule p, .shortmodule p {
    color: white;
    font-size: 20px;
}

.longmodule p {
    margin-left: 30px;
}

.longmodule, .shortmodule {
    display: flex;
    align-items: center;

    margin-bottom: 10px;
}

.shortmodule {
    justify-content: center;
    background-color: blueviolet;
}

.centerModule {
    width: 60%;
    background-color: blueviolet;
    height: 300px;
    margin: 0 10px;
    padding: 10px 30px;
}

.centerModule b {
    font-size: 30px;
    color: white;
}

.section {
    width: 88%;
    height: 90px;

    padding: 10px 30px;
    margin-bottom: 10px;

    background-color: rgb(175, 111, 235);
}