.container {
    position: relative;

    display: inline-block;
}

.trigger, .item {
    padding: 5px 10px;
    box-sizing: border-box;

    display: inline-block;

    background-color: plum;
    border: 3px solid salmon;
}

.content {
    position: absolute;

    left: 0;

    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
}