.wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .item {
        display: flex;
        border: 1px solid black;
        border-radius: 15px;

        padding: 10px;
        box-sizing: border-box;
        align-items: stretch;
        justify-content: space-between;
        align-items: flex-start;

        .description {
            display: flex;
            flex-direction: column;
            margin-right: 25px;
        }
    }

    .trigger-new {
        border: 3px dashed green;
        border-radius: 15px;

        display: flex;
        justify-content: center;
        align-items: center;

        color: green;
        font-size: 40px;
        
        cursor: pointer;
        text-decoration: none;
    }
}