.navigation {
    width: 100%;
    height: 50px;

    background-color: white;
    border: 1px solid black;

    margin-top: 20px;

    display: flex;
}

.navBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: max-content;
    height: 100%;
    padding: 0 15px;

    margin-right: 10px;
}

.navBtn {
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBtn:hover {
    background-color: rgb(201, 201, 201);
    transform: scale(1.1);
    border: 1px solid black;
    cursor: pointer;
}