.secondExersize {
    display: flex;
    align-items: center;

    margin: 20px 0;
}

.listPhoto {
    margin: 0 10px;
    cursor: pointer;
}

.imgClass img {
    width: 200px;
    height: 150px;
}


.thirdContainer {
    display: flex;
    flex-direction: column;
}
.Text {
    margin: 10px 10px;
    border: 2px solid black;
}
.par {
    background-color: rgb(73, 82, 163);
    color: white;
    align-items: center;
}
.headerPad, .parText {
    padding: 7px 15px;
    border-bottom: 2px solid black;

    height: 100%;
}
.headerPad {
    font-size: 30px;
    cursor: pointer;
    margin: 0;
}
.parText {
    background-color: aqua;
    color: black;
    display: none;
    margin: 0;
}
.parText p {
    hyphens: auto;
}



.scrollContainer {
    width: 100%;
    height: max-content;

    background-color: bisque;
}
.scrollContent {
    margin: 0 15px;
    padding-bottom: 7px;
}
#scrollText{
    padding: 0 10px;
}
#scrollText p {
    font-size: 17px;
    margin: 10px 0;
}
#addScrollText {
    width: 50%;
    padding: 10px 0;

    border-radius: 30px;
}


.selected {
    background-color: orange;
}